
.custom-line-height {
    line-height: 1.6; /* Ajusta este valor según el espacio que desees */
}
/* Contenedor principal centrado */
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Añade un pequeño padding para evitar que quede muy pegado a los bordes */
}

#text1 {
    color: #666; /* Cambia a cualquier color que desees */
}
#text2 {
    color: #161C2D; /* Cambia a cualquier color que desees */
}
#text3 {
    color: #161C2D;
    font-weight: bold; /* Cambia a cualquier color que desees */
}

.main-container a {
    color: #473BF0;
    font-weight: bold;
    text-decoration: none;
}

.main-container a:hover {
    color: #473BF0;
}


/* Estilos para el formulario */
.form-container {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}
.form-title {
    font-weight: 600;
    color: #161C2D; /* El mismo color que el brand */
    margin-bottom: 10px; /* Añade un poco más de espacio debajo del título */
}

/* Personalización del input y el botón */
.form-group input[type="email"] {
    border: 1px solid #d1d5db;
    border-radius: 8px; /* Aumenta el radio para hacerlo más redondeado */
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    color: #161C2D; /* Texto gris */
    background-color: #f9fafb;
}


.form-group input::placeholder {
    font-style: italic;
    color: #999;
}

.btn-primary {
    background-color: #473BF0;
    border-color: #473BF0;
    font-weight: 600; /* Refuerza el peso de la fuente para que sea más similar al diseño */
    padding: 12px;
    border-radius: 8px;
    width: 100%;
}

.btn-primary:hover {
    background-color: #473BF0; /* Un poco más oscuro al hacer hover */
}

/* Texto del pie del formulario */
a {
    color: #473BF0;
    font-weight: bold;
}

a:hover {
    color: #473BF0;
}
.container > div {
    margin-bottom: 20px; /* Espaciado entre el título, el formulario y el pie */
}
.hero {
    display: flex; /* Usa flexbox para centrar contenido */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    margin-bottom: 20px; /* Opcional: espacio debajo del hero */
}
.larger-input {
    width: 100%;  /* Esto asegura que ocupe todo el ancho disponible */
    padding: 15px;  /* Aumenta el padding para que sea visualmente más grande */
    font-size: 17px;  /* Cambia el tamaño del texto */
}