

/* Contenedor principal centrado */
.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;/* Añade un pequeño padding para evitar que quede muy pegado a los bordes */
}
.form-container {
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}
.form-title {
    font-weight: 600;
    color: #161C2D; /* El mismo color que el brand */
    margin-bottom: 10px; /* Añade un poco más de espacio debajo del título */
}


.form-group input::placeholder {
    font-style: italic;
    color: #999;
}
.form-group input[type="email"] {
    border: 1px solid #d1d5db;
    border-radius: 8px; /* Aumenta el radio para hacerlo más redondeado */
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    color: #161C2D; /* Texto negro */
    background-color: #f9fafb; /* Fondo claro */
}

.btn-primary {
    background-color: #473BF0;
    border-color: #473BF0;
    font-weight: 600; /* Refuerza el peso de la fuente para que sea más similar al diseño */
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    color: #fff;
}

.btn-primary:hover {
    background-color: #473BF0; /* Un poco más oscuro al hacer hover */
}

.form-group label {
    color: #161C2D; /* Color negro para las etiquetas */
    font-size: 17px; /* Tamaño de letra de 17px */
}
#text1 {
    color: #666; /* Cambia a cualquier color que desees */
}
#text2 {
    color: #161C2D; /* Cambia a cualquier color que desees */
}
#text3 {
    color: #161C2D;
    font-weight: bold; /* Cambia a cualquier color que desees */
}

.container > div {
    margin-bottom: 20px; /* Espaciado entre el título, el formulario y el pie */
}
.hero {
    display: flex; /* Usa flexbox para centrar contenido */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto dentro del contenedor */
    margin-bottom: 20px; /* Opcional: espacio debajo del hero */
}
.larger-input {
    width: 100%;  /* Esto asegura que ocupe todo el ancho disponible */
    padding: 15px;  /* Aumenta el padding para que sea visualmente más grande */
    font-size: 15px;  /* Cambia el tamaño del texto */
}