{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link type="text/css" href="{% static 'accounts/css/nav.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'accounts/css/main.css' %}" rel="stylesheet" />
</head>
<body>
    <header class="text-center py-3">
        <a id="landpage-skillUp" href="{% url 'landpage' %}" class="header-brand">SkillUp</a>
    </header>
</body>
</html>