{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password Sent</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link type="text/css" href="{% static 'accounts/css/recoverPasswordSent4.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'accounts/css/main.css' %}" rel="stylesheet" />
</head>
<body>
    {% include 'accounts/nav.html' %}

    <div class="container d-flex flex-column align-items-center justify-content-center main-container">
        <div class = "hero text-center">
            <h1 class="form-title">{% trans "Password Reset Sent" %}</h1>
        </div>

        <div class="col-md-10 col-lg-8 form-container text-left">
            <p class="custom-line-height">{% trans "We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}<br>
                {% trans "If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder." %}</p>
        </div>
        <div class = "textB text-left">
            
        </div>
        <div class="text-center mt-4">
            <p>{% trans "Want to return to the homepage?" %} <a href="{% url 'landpage' %}" class="link-primary">{% trans "Click here" %}</a> {% trans "to go back." %}</p>
        </div>
    </div>
    {% include 'footer.html' %}

</body>
</html>